
/* Titular de sección */
.admin-dashboard-header {
    width: 100%;
    background-color: var(--azul1-100);
    padding: 0;
}

.contenedor930px {
    max-width: 930px;
    margin: 0 auto 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Columna derecha (menú) */
.header-right {
    display: flex;
    align-items: center;
}

/* Submenú */
.admin-dashboard-submenu {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0;
}

.admin-dashboard-tab {
    background-color: var(--naranja1-100);
    color: #fff;
    padding: 5px 15px;
    border-radius: 50px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
    font-size: 16px;
}

.admin-dashboard-tab:hover,
.admin-dashboard-tab.active {
    background-color: #d46a1c;
}

/* Contenedor principal */
.admin-dashboard-contenido {
    max-width: 930px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    overflow-x: auto;
}

/* Detalles de productos */

.detalles-contenedor-titular {
    padding: 5px 10px;
    border-bottom: 3px solid var(--azul1-100);
    margin-bottom: 5px;
}

.detalles-titular {
    font-size: 24px;
    font-weight: bold;
    color: #0b568b;
}

.detalles-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    margin-bottom: 20px;
    padding: 0 10px;
}