.fc-facturacion-contenedor {
    background: #fff;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 20px;
}

.fc-facturacion-titulo {
    background: var(--azul1-100);
    display: flex;
    align-items: center;
    padding: 7px 15px;
    gap: 5px;
}

.fc-facturacion-titulo svg {
    flex-shrink: 0;
}

.fc-facturacion-titulo-texto {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.fc-facturacion-contenido {
    background: #fff; 
    padding: 15px;
}

.fc-contenido-nombre {
    font-weight: 600;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.fc-contenido-ubicacion {
    font-weight: 500;
    font-size: 20px;
    color: var(--naranja1-100);
    margin: 0;
    padding: 0;
}

.fc-grid-label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 20px;
}

.fc-grid-label svg {
    width: 20px;
    height: 20px;
    fill: var(--azul1-100);
}

@media (max-width: 768px) {

    .checkout-seccion-titulo-texto {
        font-size: 18px;
    }

    .facturacion-grid-2 {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    
}