.fc-grid-label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 5px;
    row-gap: 0;
    font-size: 18px;
    margin-bottom: 5px !important;
    font-weight: 400;
}

@media (max-width: 768px) {

    .fc-grid-label {
        font-size: 20px;
    }

}