.bs-ar-contenedor {
    padding: 0;
}

.bs-ar-titulo {
    padding: 5px 15px;
    gap: 5px;
    background: var(--azul1-100);
    display: flex;
    align-items: center;
    justify-content: left;
}

.bs-ar-titulo h6 {
    color: #fff;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.bs-ar-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: hidden;
    
}

/* CONTENEDOR SLIDER */
.bs-ar-container {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.bs-ar-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bs-ar-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.bs-ar-slide {
    display: none;
    width: 100%;
    transition: opacity 0.3s ease;
}

.bs-ar-slide.active {
    display: block;
}

.bs-ar-item {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 15px;
}



.bs-ar-imagen img {    
    aspect-ratio: 16/9;
    object-fit: cover;
   
    box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 0 0;
}

.bs-ar-item-contenido {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.bs-ar-modalidad {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--naranja1-100);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px !important;
    line-height: 1;
}

.bs-ar-item-titulo {
    color: var(--azul1-100);
    margin: 0;
    text-align: left;
    line-height: 1;
}

.bs-ar-item-titulo a {
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
}

.bs-ar-item-titulo a:hover {
    text-decoration: underline;
}

.bs-ar-ubicacion {
    font-size: 18px;
    color: var(--naranja1-80);
    font-weight: bold;
}

.bs-ar-info-extra {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 5px;
    align-items: center;
}

.bs-ar-info-item-fecha,
.bs-ar-info-item-dificultad {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--azul1-100);
    font-size: 16px;
    font-weight: 600;
}

.bs-ar-info-item-fecha svg,
.bs-ar-info-item-dificultad svg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    fill: var(--azul1-100);
}





@media (max-width: 768px) {    

    .bs-ar-contenedor {
        padding: 15px;
        background-color: white;
    }

    .bs-ar-titulo h6 {
        font-size: 20px;
    }

    .bs-ar-modalidad {
        font-size: 18px;
    }

    .bs-ar-item-titulo a {
        font-size: 24px;
    }

    .bs-ar-ubicacion {
        font-size: 20px;
    }

    .bs-ar-info-item-fecha,
    .bs-ar-info-item-dificultad {
        font-size: 20px;
    }

    .bs-ar-info-item-fecha svg,
    .bs-ar-info-item-dificultad svg {
        width: 18px;
        height: 18px;
    }

}