
.bs-entradas-rel-contenedor {
    padding: 0px;
    
}

.bs-entradas-rel-titulo {
    padding: 5px 10px;
    background: var(--azul1-100);
    display: flex;
    align-items: center;
}

.bs-entradas-rel-titulo h6 {
    color: #fff;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.bs-entradas-rel-contenido {
    background-color: rgba(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
}


.swiper-wrapper {
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.bs-entradas-rel-slider {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.bs-entradas-rel-slider .swiper-slide {
    width: 100% !important;
    box-sizing: border-box;
}

.bs-entrada-container {
    background: white;
    padding: 0;
    border-radius: 10px;
}

.bs-entrada-contenido {
    padding: 10px;
}

.bs-entrada-imagen img {
    display: block;
    width: 100%;
    height: auto;
    border: none;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* opcional: da un poco de relieve */
}

.bs-entrada-titulo {    
    color: var(--azul1-100);
    margin: 0 0 5px 0;
    text-align: left;
}

.bs-entrada-titulo a {
    color: inherit;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
}

.bs-entrada-titulo a:hover {
    text-decoration: underline;
}

.bs-entrada-imagen {
    margin: 0;
    padding: 0;
    border: none;
}

.bs-categorias {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.bs-categoria {
  background-color: #E67E22; /* naranja tema */
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 50pc;
  display: inline-block;
  line-height: 1;
}







.swiper-button-next,
.swiper-button-prev {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}

.swiper-button-next {
    margin-right: 10px;
}

.swiper-button-prev {
    margin-left: 10px;
}

.swiper-button-next svg,
.swiper-button-prev svg {
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet-active {
    background: #0073aa;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: none; /* Oculta la flecha predeterminada */
}

@media (max-width: 768px) {
    
    .bs-entradas-rel-titulo h6 {
        font-size: 20px;
    }
    
    .bs-entrada-titulo {
        font-size: 22px;                    
    }
}