

/* Contenedor principal del header */
.header-contenedor-ppal {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 15px;
    background: var(--azul1-100);
    margin-bottom: 15px;
    position: fixed; /* Header fijo */
    top: 0;
    left: 0;
    width: 100%;
    height: 90px; /* Ajusta la altura según tus necesidades */
    z-index: 9999; /* Siempre por encima del contenido */
}

/* Grid principal */
.header-grid {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  width: 900px;
  padding: 0px;
}

/* Contenedor logo */
.header-logo {
  display: block;
  align-items: center;
}

.header-logo .logo-img {
  display: flex;
  width: 300px;
  height: auto;
  min-height: auto;
}

/* Contenedor menú */
.header-menu {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.header-titulo-seccion {
    padding: 5px 10px;
    position: fixed;
    top: 90px; /* Ajustar según altura del header */
    left: 0;
    right: 0;
    z-index: 999;
    text-align: center;
}


.titulo-texto {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: white; /* Para contraste con el fondo azul */
    margin: 0;
}

/* Responsive móvil */
@media (max-width: 768px) {

  .header-contenedor-ppal {
    padding: 10px 15px;
    height: 150px; /* Ajusta la altura según tus necesidades */
  }

  .header-grid {
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
  }

  .header-logo {
    margin: 0 auto;
  }

  .header-logo .logo-img {
    width: 80%;
    margin: 0 auto;
  }

  .header-menu {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .header-titulo-seccion {
    top: 150px; /* Ajustar según la altura del header principal */
}


}
