.in-slider-ppal {
    
    padding: 0px 0;
    text-align: center;
}

 
.in-slider-contenedor {
    width: 900px;
    margin: 0 auto;   
    border-radius: 0px;
    aspect-ratio: 16 / 8;
}

.in-slider-contenedor img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 0;
}

@media (max-width: 768px) {

    .in-slider-contenedor {
        width: 100%;
        aspect-ratio: 16 / 10;
    }

}
