.pa-query-wrapper {
    margin-top: 0px;
}

.pa-query-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    align-items: start;
}

.pa-query-item {
    background: #fff;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: start;
    height: auto; 
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
}

.pa-query-contenido {
    padding: 10px;
}

.pa-query-contenido-link {
    display: block;
    color: inherit;
    text-decoration: none;
}

.pa-query-contenido-link:hover {
    text-decoration: none;
}

.pa-contenedor-imagen {
    position: relative;
}

.pa-imagen {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
}

.pa-avatar-contenedor {
    position: absolute;
    right: 10px;       
    bottom: -20px;     /* sobresale 20px por debajo del borde inferior */
    z-index: 2;        /* asegura que quede por encima de la imagen */
}

.pa-avatar-autor {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    border: 3px solid #fff; 
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* opcional: da un poco de relieve */
}


.pa-modalidad {
    background-color: var(--naranja2-60);
    padding: 2px 10px;
    color: white;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
} 

.pa-titulo {    
    font-size: 22px;
    color: var(--azul1-100);
    font-weight: 600;
    margin-top: 5px;
    line-height: 1;
    word-wrap: break-word;
}

.pa-ubicacion {
    font-size: 18px !important;
    color: var(--naranja1-100) !important;
    font-weight: 600;
    line-height: 1.1;
    margin: 3px 0 10px 0 !important;
}



.info-extra {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 5px;
}


.info-item-fecha,
.info-item-dificultad {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--azul1-100);
    font-size: 16px;
    font-weight: 600;
}


.info-item-fecha svg,
.info-item-dificultad svg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    fill: var(--azul1-100);
}

.pa-seccion-ultima {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    align-items: start;
}

.pa-plazas-disponibles { 
    color: var(--azul1-100);
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    font-style: italic;
}

.pa-precio {

    gap: 4px; 
    margin: 0;
    display: flex;
    align-items: end;
    background-color: var(--azul2-80);
    padding: 3px 10px;
    border-radius: 5px;
}

.pa-precio h3 {
    color: white !important;
    line-height: 1;
    font-weight: 600;
    font-style: italic;
}

.pa-precio .importe {
    font-size: 20px;
}

.pa-precio .euros {
    font-size: 16px;
}





@media (max-width: 768px) {
    
    .pa-query-grid {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 15px;
    }

     .filtros-activos {
        padding: 0 15px;
    }

    .filtros-activos-item {       
       
        margin-bottom: 0px;
        font-size: 18px;
    }

    .filtros-activos-item a.quitar-filtro {

        font-size: 18px;
    }

    .pa-avatar-autor {
        width: 120px;
        height: 120px;
    }
    
    .pa-modalidad {
        font-size: 16px;
    }
    
    .pa-titulo {
        font-size: 26px;
    }
    
    .pa-ubicacion {
        font-size: 20px !important;
    }
    
    .info-item-fecha,
    .info-item-dificultad {
        font-size: 20px;
    }

    .info-item-fecha svg,
    .info-item-dificultad svg {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
    }


    .pa-plazas-disponibles { 
        font-size: 18px;
    }
    
    .pa-precio .importe {
        font-size: 22px;
    }

    .pa-precio .euros {
        font-size: 18px;
    }

}

