.ut-form-contenedor {
    padding: 0;
    margin: 0 auto;
}

.ut-form-seccion-titular {
    background: var(--azul1-100);
    padding: 7px 15px;
    text-align: left;
}

.ut-form-titular {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

.ut-form-seccion-contenido {
    padding: 15px;
    background: var(--azul1-20);
}

.ut-form-seccion-contenido form {
    margin-bottom: 0 !important;
}

.ut-form-group {
    margin-bottom: 10px;
}

.ut-form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 2px;
    color: var(--azul1-100);
    font-size: 18px;
}

.ut-form-group input,
.ut-form-group select {
    width: 100%;
    padding: 5px 10px !important;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.ut-form-checkbox-label {
    font-weight: 500 !important;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--azul1-100);
    font-size: 16px !important;
    cursor: pointer;
    font-family: inherit;
}

.ut-form-checkbox-label input[type="checkbox"] {
    width: auto;
    margin: 0;
}

.ut-form-checkbox-label a {
    color: var(--naranja1-100);
    text-decoration: none;
}

.ut-form-checkbox-label a:hover {
    text-decoration: underline;
}

.ut-form-submit {
    text-align: center;
    margin-top: 20px;
}

.ut-btn-enviar {
    background: var(--naranja1-100);
    color: #fff;
    padding: 5px 15px;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.ut-btn-enviar:hover {
    background: var(--naranja1-40);
    color: #fff;
}

.ut-form-success, .ut-form-error {
    background: var(--azul1-20);
    color: var(--azul1-100);
    padding: 10px;
    margin: 15px 0;
    border-radius: 0px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.ut-form-error {
    background: #fcebea;
    border-color: #f5c6cb;
    color: #721c24;
}

@media (max-width: 768px) {
    .ut-form-titular {
        font-size: 20px;
    }

    .ut-form-contenedor {
        padding: 15px;
    }

    .ut-form-group label {
        font-size: 20px;
    }

    .ut-form-checkbox-label {
        font-size: 18px !important;
    }

    .ut-btn-enviar {
        font-size: 18px;
    }
}