
/* SECCIONES */

.contenedor-filtros {
    padding: 0;
    margin: 0;
    gap: 0;
}

.contenedor-filtros-titular {
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background-color: var(--azul1-100);
    gap: 5px;
}

.contenedor-filtros-titular h4  {
    color: #fff !important;
    font-size: 18px;
    line-height: 1;
}

/* Indicador de desplegable para móvil */
.contenedor-filtros-titular .desplegable-indicador {
    display: none;
    margin-left: auto;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.filtros-titular-icono {
    width: 16px;
    height: 16px;
    fill: #fff;
}

.titular-icono {
    width: 16px;
    height: 16px;
    fill: #fff;
}

.contenedor-filtros-contenido {
    background-color: var(--azul1-20);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filtros-seccion {
    background-color: #fff;
    padding: 0px;
}

.filtros-seccion-titular {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;      
    background-color: var(--azul1-80);
    gap: 5px;
    padding: 5px 10px;
}

.filtros-seccion-titular h5 {
    color: #fff !important;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}


.filtros-seccion-contenido {
    padding: 10px;
    background-color: #fff;
}

/* BOTONES */

/* Estilos generales para contenedores de filtros */

.filtro-contenedor { 
    display:flex; 
    flex-wrap:wrap; 
    gap:5px; 
    justify-content:center; 
    margin-bottom: 0px;
}

/* Estilos para items de filtro */
.filtro-item { 
    padding: 5px 10px; 
    border-radius:50px; 
    background: #fff; 
    color:var(--azul1-100); 
    border: 2px solid var(--azul1-100);
    cursor:pointer; 
    font-weight:600; 
    font-size:14px; 
    transition:background-color .3s; 
}

/* Estado activo de los filtros */
.filtro-item:hover { 
    background: var(--azul1-80);
    border: 2px solid var(--azul1-80);
    color: #fff;
    font-weight:500;
}

/* Estado activo de los filtros */
.filtro-item.active { 
    background:var(--azul1-100);
    color: #fff;
    font-weight:500;
}

/* Estado oculto de los filtros */
.filtro-item.hidden { 
    display: none; 
}


/* Responsive móvil */
@media (max-width: 768px) {

    .contenedor-filtros {
        padding: 10px 15px;
       
    }

    .contenedor-filtros-titular {
        margin-bottom: 10px;
        padding: 10px 15px;
    }

    
    /* Estilos para el desplegable en móvil */

    .contenedor-filtros-titular {
        cursor: pointer;
        position: relative;
        padding-right: 40px;
    }

    .contenedor-filtros-titular .desplegable-indicador {
        display: block;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
    }

    .contenedor-filtros-contenido {
        display: none; /* oculto por defecto */
    }
      
    .contenedor-filtros-contenido.desplegado {
        display: block; /* se muestra al abrir */
    }

     .filtro-item { 
        font-size:18px; 
    }

}


/* PESTAÑAS CON x para ELIMINAR BUSQUEDA */

.filtros-lista {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.filtros-activos {
    margin: 0;
    padding: 0;
}

.filtros-activos-item {
    display: inline-block;
    background-color:#fff;
    color: var(-azul1-100);
    padding: 5px 10px;
    border-radius: 50px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
}

.filtros-activos-item a.quitar-filtro {
    color:  var(-azul1-100);
    text-decoration: none;
    margin-left: 5px;
    font-weight: bold;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 768px) {

    .filtros-lista {
        padding: 0 15px;
        margin-top: 5px;
    }

    .filtros-activos-item,
    .filtros-activos-item a.quitar-filtro {
        font-size: 18px;
    }

}