/* ICONOS SVG */
.svg-icon {
    display: inline-block;
    fill: currentColor; /* ¡IMPORTANTE! Hereda el color del texto */
    vertical-align: middle;
}

/* Tamaños */
.icon-sm { width: 16px; height: 16px; }
.icon-md { width: 24px; height: 24px; }
.icon-lg { width: 32px; height: 32px; }