.gs-seccion-ppal-contenedor {
    position: relative;
    padding: 0px;
    background: white;
    overflow: visible;
}

.gs-seccion-ppal-contenedor .imagen {
    position: relative;
    width: 100%;
    overflow: visible;
    z-index: 20; 
}

.gs-banner-wrapper {
    position: relative;
    aspect-ratio: 16 / 9;
    width: 100%;
    overflow: visible;
}

.gs-banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0;
    box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.3);
}

.gs-avatar-wrapper {
    position: absolute;
    bottom: -30px;
    right: 15px;
    z-index: 100; 
}

.gs-avatar-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    object-fit: cover;
    z-index: 100; 
    position: relative; 
}

.gs-seccion-ppal-guia {			
    text-align: left;
    margin: 15px 0 5px 0;
    padding: 0 15px;
    position: relative; 
    z-index: 1; 
}

.gs-guia-nombre {
	color: var(--azul1-100);
	font-size: 24px;
	font-weight: 600;
	margin-top: 0px;
}

.gs-guia-localidad {
	color: var(--naranja1-100);
	font-size: 20px;
	font-weight: bold;
}

.gs-titulaciones {
    margin: 10px 0 !important;
}

.gs-titulaciones .gs-titulacion-item {
    font-size: 18px;
    font-weight: 500;
}

.gs-modalidades {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 15px 0 15px;
}

.gs-modalidad-item {
    background-color: var(--naranja1-100);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
}

.gs-sobremi-contenido {
    background-color: #fff;
    padding: 15px;
    font-size: 18px;
    position: relative;
    z-index: 1;
    margin-top: 0;
}   

@media (max-width: 768px) {
    

    .gs-seccion-ppal-contenedor {
        overflow: visible;
    }

    .gs-banner-wrapper {
        aspect-ratio: 16 / 8;
    }
    
    .gs-avatar-wrapper {
        bottom: -15px;
        z-index: 100; /* Mantenemos alto en mobile */
    }
    
    .gs-avatar-img {
        width: 150px;
        height: 150px;
    }

    .gs-titulaciones .gs-titulacion-item {
        font-size: 20px;
    }
    
    .gs-sobremi-contenido {
        font-size: 20px !important;
    }

    .gs-guia-nombre {
        font-size: 28px;
    }

    .gs-guia-localidad {
        font-size: 22px;
    }

    .gs-modalidad-item {
        font-size: 18px;
    }
}





