.seccion-guia,
.seccion-valoraciones,
.seccion-proximas-actividades {
    padding: 0px;
}

.seccion-proximas-actividades {
    margin-top: 10px;
}

.seccion-guia-titulo,
.seccion-valoraciones-titulo {
    padding: 5px 15px;
    background: var(--azul1-100);
    display: flex;
    align-items: center;
}

.seccion-guia-titulo h6,
.seccion-valoraciones-titulo h6 {
    color: #fff;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}

.seccion-guia-contenido {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    padding: 15px;
    text-align: center;
}

.seccion-proximas-actividades-contenido {            
    padding: 10px 0;            
}

.seccion-valoraciones-contenido {
    background-color: #fff;
    padding: 15px;
    font-size: 18px;
}

.seccion-guia-item {
    background-color: var(--naranja1-100);;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 13px;
}

.gs-titulaciones {
    margin-top: 3px;
}

.gs-titulacion-item {
    font-size: 18px;
    color: #0b568b;
    font-weight: 500;
    line-height: 1.1;
    display: block;
}



@media (max-width: 768px) {
    
    .seccion-valoraciones,
    .seccion-proximas-actividades {
        padding: 0 15px 15px 15px;
        background-color: white;
    }

    .seccion-guia-titulo h6,
    .seccion-valoraciones-titulo h6 {
        font-size: 20px;
    }

    .seccion-guia-item {
        font-size: 18px;
    }

}