.ps-ea-contenedor {
    background: #fff;
}

.ps-ea-titular {
    background-color: var(--azul1-100);
    padding: 7px 15px;
}

.ps-ea-titular h2 {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #fff;
}

.ps-ea-contenido {
    background: #fff;
    padding: 15px;
}

.ps-ea-fila-datos,
.ps-ea-fila-datos-end {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.ps-ea-fila-datos .etiqueta {
    font-weight: bold;
}

.ps-ea-fila-datos-texto {    
    font-size: 16px;		
    color:var(--azul1-100);
    margin-top: 8px;
    border: 2px solid var(--azul1-100);
    padding: 7px;
    border-radius: 5px;
}

.ps-ea-estado-actividad {
    background: var(--naranja1-100);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    line-height: 1;
}

@media screen and (max-width: 768px) {

    .ps-ea-titular h2 {
        font-size: 20px;
    }

    .ps-ea-fila-datos,
    .ps-ea-fila-datos-end {
        font-size: 22px;	
    }

    .ps-ea-fila-datos-texto {    
        font-size: 20px;		
    }

    .ps-ea-estado-actividad {
        font-size: 18px;
    }

}