.ps-er-wrapper {
    margin: 15px auto 0 auto;
    max-width:900px;
    background: var(--azul1-20);
    padding: 15px;
   
}


.ps-er-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    margin-bottom: 10px;

}

.ps-er-header .ps-er-arrow {
    position: static; /* YA NO es absolute */
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    color: white;
    font-size: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    padding: 5px;
}

.ps-er-header .ps-er-arrow:hover {
    background: var(--azul2-100);
}

.ps-er-header .ps-er-arrow svg {
    width: 30px;
    height: 30px;
    fill: white;
}

.ps-er-header .ps-er-sectiontitle {
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: 500;
    text-align: center;
}

.ps-er-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    align-items: start;
}

.ps-er-item {
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(255,255,255,0.25);
    align-items: start;
    align-self: start;

}



.ps-er-er-imgcontenedor { position: relative; }

.ps-er-img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
}

.ps-er-avatarcontenedor {
    position: absolute;
    right: 10px;
    bottom: -20px;
    z-index: 2;
}

.ps-er-avatar {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    border: 3px solid #fff;
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.ps-er-contenido { 
    padding: 10px;
    margin-top: -25px;
}

.ps-er-modalidad {
    background-color: var(--naranja2-60);
    padding: 2px 10px;
    color: white;
    border-radius: 50px;
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
}

.ps-er-titulo {
    font-size: 22px;
    color: var(--azul2-100);
    font-weight: 600;
    margin-top: 5px;
    line-height: 1;
}

.ps-er-ubicacion {
    font-size: 18px !important;
    color: var(--naranja1-80) !important;
    font-weight: bold;
    line-height: 1 ;
    margin-top: 3px;
}

.ps-er-infoextra {
    display: flex;
    gap: 15px;
    margin-top: 5px;
}

.ps-er-fecha,
.ps-er-dificultad {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--azul1-100);
    font-size: 16px;
    font-weight: 600;
}

.ps-er-fecha svg,
.ps-er-dificultad svg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    fill: var(--azul1-100);
}

.ps-er-ultima {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.ps-er-plazas {
    color: var(--azul1-100);
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
}

.ps-er-precio {
    display: flex;
    align-items: end;
    background-color: var(--azul2-80);
    padding: 3px 10px;
    border-radius: 5px;
}

.ps-er-precio h3 {
    color: white !important;
    line-height: 1;
    font-style: italic;
}


.ps-er-carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 15px;
    scrollbar-width: none; /* Firefox */
}

.ps-er-carousel::-webkit-scrollbar { 
    display: none; 
} /* Chrome */

.ps-er-item {
    flex: 0 0 calc(33.333% - 10px); /* 3 por fila */
    scroll-snap-align: start;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(255,255,255,0.25);
    display: flex;
    flex-direction: column;
    align-items: start;
}






@media (max-width: 768px) {
    
    .ps-er-grid {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 15px;
    }

    .ps-er-item {
        flex: 0 0 100%;
        
    }
    .ps-er-header .in-arrow { display: none; }

    .ps-er-avatar {
        width: 120px;
        height: 120px;
    }

    .ps-er-modalidad { font-size: 16px; }
    .ps-er-titulo    { font-size: 26px; }
    .ps-er-ubicacion { font-size: 20px !important; }

    .ps-er-fecha,
    .ps-er-dificultad { font-size: 20px; }

    .ps-er-precio .importe { font-size: 22px; }
}
