/* Estilos generales */

.ps-contenedor {
    background: #fff;
    padding: 0;
    margin: 0;
    gap: 0;
}

.ps-titular {
    display: flex;   
    margin: 0 !important;
    background-color: var(--azul1-100);
    gap: 5px;
    padding: 5px 15px;
}

.ps-titular h5  {
    color: #fff !important;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}



.ps-contenido {
    background-color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;
}

.ps-contenido p {
    font-size: 18px;
}

.pastillas-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.pastillas-item {
   
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--azul1-100);

    font-size: 18px;
    font-weight: 600; 
 
}

.pastillas-item-dificultad {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 2px 10px;
    border-radius: 50px;
    gap: 5px;
    flex-direction: row;
    font-size: 16px;
    font-weight: 500 !important; 
}

.pastillas-item-icono {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    fill: var(--azul1-100);
}

@media (max-width: 768px) {
    
    .pastillas-item-dificultad,
    .pastillas-item {
        font-size: 20px;
    }    

    .ps-titular h5  {
        font-size: 20px;
    }

    .ps-contenido {
        font-size: 20px;
    }

    .pastillas-item-icono {
        width: 18px;
        height: 18px;
    }
    
}