.mc-mis-reservas-contenedor {
    padding: 0;
    background-color: transparent !important;
}

.mc-mis-reservas-titulo {
    background-color: var(--azul1-100);    
    margin: 0 0 15px 0 !important;    
    padding: 7px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.mc-mis-reservas-titulo h2 {    
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.mc-mis-reservas-contenedor-sin-reservas {
    padding: 15px;
    background-color: #fff;
    grid-column: 1 / -1; /* <-- ocupa todas las columnas disponibles */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mc-mis-reservas-contenedor-sin-reservas p {
    color: var(--azul1-100);
    margin: 0 !important;
    background-color: #fff;
    padding: 15px;
    font-size: 18px;
}

.mc-mis-reservas-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 0;   
    align-items: start;
}

.mc-mis-reservas-card {      
    cursor: pointer;
    position: relative;
    border: 0;
    border-radius: 10px;
    background-color: #fff; 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.mc-mis-reservas-card-imagen {
    display: block;
    position: relative;
}

.mc-mis-reservas-card-imagen img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    margin-bottom: 0;
    border-radius: 10px 10px 0px 0px;
}

.reserva-info-item-estado {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    background-color: var(--naranja1-100);
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 5;
    line-height: 1;
}

.mc-mis-reservas-card-info-link {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.mc-mis-reservas-card-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.2s ease;
    padding: 10px 10px;
}

.mc-mis-reservas-numero-reserva {
    display: inline-block;
    margin: 0 0 5px 0;
}

.mc-mis-reservas-numero-reserva h4 {
    font-size: 16px;
    font-weight: 500;
    color: var(--azul1-100);
    margin: 0;
}

.mc-mis-reservas-info-titulo {
    margin-bottom: 5px;
    width: 100%;    
}

.mc-mis-reservas-info-titulo h3 {
    font-size: 22px;
    font-weight: bold;
    color: var(--azul1-100);
    line-height: 1;
    margin: 0;
}

.mc-mis-reservas-info-extra {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
}

.mc-mis-reservas-info-item-fecha,
.mc-mis-reservas-info-item-plazas {
    padding: 3px 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 14px;
}

.mc-mis-reservas-info-item-fecha,
.mc-mis-reservas-info-item-plazas {
    background: var(--azul2-100);  
    color: #fff;
    font-weight: bold;
}

.mc-mis-reservas-info-item-plazas svg,
.mc-mis-reservas-info-item-fecha svg {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    fill: #fff;
}

/* --- Responsive --- */
@media (max-width: 768px) {

    .mc-mis-reservas-grid {
        grid-template-columns: 1fr;
        margin: 15px 0;
        padding: 0 15px;
    }

    .mc-mis-reservas-titulo {
        font-size: 20px;
        margin-top: 0 !important;
    }

    .mc-mis-reservas-titulo h2 {    
        font-size: 20px;
    }

    .mc-mis-reservas-numero-reserva h4 {
        font-size: 18px;
    }

    .mc-mis-reservas-info-titulo h3 {
        font-size: 26px;
    }

    .mc-mis-reservas-info-item-fecha,
    .mc-mis-reservas-info-item-plazas,
    .mc-mis-reservas-info-item-estado {
        font-size: 18px;
        padding: 3px 15px;
    }

    .mc-mis-reservas-info-item-fecha .icon,
    .mc-mis-reservas-info-item-plazas .icon {
        width: 16px;
        height: 16px;
    }

}
