.contenedor-sin-reservas {
    background-color: #fff;
    padding: 15px;
    font-size: 18px;
    color: var(--azul1-100);
}







.reservas-container {
    padding: 0;
    background-color: transparent !important;
}

.reservas-container-titulo {
    background-color: var(--azul1-100);    
    margin: 0 0 15px 0 !important;    
    padding: 7px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.reservas-container-titulo h2 {    
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

/* --- Grid de reservas --- */
.grid-reservas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 0;   
    align-items: start;
}

/* --- Tarjeta individual --- */
.card-reserva {
      
    cursor: pointer;
    position: relative;
    border: 0;
    border-radius: 10px;
    background-color: #fff; 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


.card-reserva-imagen {
    display: block;
    position: relative;
}

/* --- Imagen --- */
.imagen-actividad {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    margin-bottom: 0;
    border-radius: 10px 10px 0px 0px;
}

/* --- Estado de la reserva --- */
.reserva-info-item-estado {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    background-color: var(--naranja1-100);
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 5;
    line-height: 1;
}




.card-reserva-info-link {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.card-reserva-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.2s ease;
    padding: 10px 10px;
}

/* --- Número de reserva --- */

.numero-reserva {
    display: inline-block;
    margin: 0 0 5px 0;
}

.numero-reserva h4 {
    font-size: 16px;
    font-weight: 500;
    color: var(--azul1-100);
    margin: 0;
}

/* --- Título de la actividad --- */

.reserva-info-titulo {
    margin-bottom: 5px;
    width: 100%;
    
}

.reserva-info-titulo h3 {
    font-size: 22px;
    font-weight: bold;
    color: var(--azul1-100);
    line-height: 1;
    margin: 0;
}



/* --- Información extra (fecha, estado, cantidad) --- */
.reserva-info-extra {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
}

.reserva-info-item-fecha,
.reserva-info-item-plazas {
    padding: 3px 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 14px;
}

.reserva-info-item-fecha {
    background: var(--rojo-100);  
    color: #fff;
    font-weight: bold;
}

.reserva-info-item-fecha .icon {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    fill: #fff;
}

.reserva-info-item-plazas {
    background: var(--naranja2-100);
    color: #fff;
    font-weight: bold !important;
}

.reserva-info-item-plazas .icon {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    fill: #fff;
}

/* --- Responsive --- */
@media (max-width: 768px) {

    .grid-reservas {
        grid-template-columns: 1fr;
        margin: 15px 0;
        padding: 0 15px;
    }

    .titulo-reservas {
        font-size: 20px;
        margin-top: 0 !important;
    }

    .reservas-container-titulo h2 {    
        font-size: 20px;
    }

    .card-reserva h3 {
        font-size: 24px;
    }

    .numero-reserva h4 {
        font-size: 18px;
    }

    .reserva-info-titulo h3 {
        font-size: 26px;
    }

    .reserva-info-item-fecha,
    .reserva-info-item-plazas,
    .reserva-info-item-estado {
        font-size: 18px;
        padding: 3px 15px;
    }

    .reserva-info-item-fecha .icon,
    .reserva-info-item-plazas .icon {
        width: 16px;
        height: 16px;
    }



    .btn-reserva {
        font-size: 18px;
    }


}
