.hentry .wp-post-image {
    margin-bottom: 0 !important;
    
}

.detalles-reservas-container {
    width: 100%;
   
}

.cabecera-reservas {
    background-color: var(--azul1-100);
    padding: 5px 15px;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecera-reservas .fila {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

.cabecera-reservas .titulo {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.detalles-reservas-container h1 {
    color: #fff;
    background-color: var(--azul1-100);
    font-weight: 600;
    font-size: 18px;
    padding: 5px 10px;
    margin: 0px 0px 10px 0px;
    text-align: center;
    
}


.titulo-reserva {
    color: var(--azul1-100);
    background-color: #fff;
    font-size: 22px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 5px;
}

.contenedor-dos-columnas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 0;
    
}

.columna-derecha {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.columna-izquierda {
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.contenedor-detalles {
    background: #fff;
}

.contenedor-detalles h1 {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.contenedor-detalles-facturacion {
    background: #fff;
    padding: 10px;
}

.contenido-detalles {
    background: #fff;
    padding: 10px;

}

.contenido-detalles .numero-reserva {
    font-size:18px; 
    font-weight:500; 
    color:var(--azul1-100); 
    margin-bottom:4px;

}

.contenedor-reservas .contenedor-detalles-facturacion h1 {
    color: var(--azul1-100);
    background-color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: 3px 5px;
    margin: 0px 0px 10px 0px;
    text-align: left;
    text-transform: none;
    border-bottom: 2px solid var(--azul1-100);
}

.campo-detalle,
.campo-detalle-end {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.campo-detalle-texto {    
    font-size: 16px;		
    color:var(--azul1-100);
    margin-top: 8px;
    border: 2px solid var(--azul1-100);
    padding: 7px;
    border-radius: 5px;
}

.campo-detalle .etiqueta,
.campo-detalle-end .etiqueta {
    font-weight: bold;
}

.estado-sobre-imagen {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: var(--naranja1-100);
    color: #fff;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 1;
}


@media screen and (max-width: 768px) {

    .detalles-reservas-container {
        padding: 0 15px;
        background-color: #fff;
    }

    .contenedor-dos-columnas {
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .contenedor-reservas h1 {
        font-size: 18px;
        margin: 0px 0px 15px 0px;
    }

    .contenedor-reservas .contenedor-detalles-facturacion h1 {
        font-size: 22px;
    }

    .contenedor-detalles {
        margin: 0;
    }

    .contenedor-detalles h1{
        font-size: 20px;
    }

    .contenedor-detalles-facturacion {
        padding: 15px;
    }

    .cabecera-reservas .titulo {
        font-size: 20px;
    }

    .estado-sobre-imagen {
        font-size: 18px;
    }

    .contenido-detalles .numero-reserva {
        font-size:18px; 
    }

    .campo-detalle {
        font-size: 20px;				
        padding: 0px 5px;
        text-decoration: none;
    }
    
    .campo-detalle-texto {
        font-size: 20px;
    }

    .titulo-reserva {
        font-size: 26px;
    }

}

/* BOTONES DE LA SECCION */

.mc-vr-boton-wrapper {
    padding: 0;
    margin: 0;
    display: flex;
    margin-top:12px;
}

.mc-vr-boton {
    padding: 5px 15px;
    background-color: var(--azul2-100);
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 500 !important;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}
.mc-vr-boton:hover {
    background-color: var(--azul2-40);
}

@media screen and (max-width: 768px) {

    .mc-vr-boton {
        font-size: 18px;
    }

}