.tk-acompanante-box {
    padding: 10px;
}

.tk-acompanante-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--naranja1-100);
    margin-bottom: 4px;
}

.tk-acompanante-nombre {
    font-size: 20px;
    font-weight: 600;
    color: var(--azul1-100);
    margin-bottom: 6px;
}

.tk-acompanante-line {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 500;
    color: var(--azul1-100);
    margin-bottom: 0px;
}

.tk-acompanante-icono svg {
    width: 18px;
    height: 18px;
    fill: var(--azul1-100);
}

.tk-btn-editar {
    display: inline-flex;
    padding: 5px 15px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    line-height: 1;
    background: var(--azul2-100);
    margin: 0 10px 10px 10px;
    color:#fff; 
    font-weight: 500;
}

.tk-btn-editar:hover {
    background: var(--azul2-80);
}

/* Modal oscuro */

.tk-modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.tk-modal {
    background: #fff;
    padding: 15px;
    max-width: 500px;
    width: 90%;
    border-radius: 8px;
    margin: 15px 0;
}

.tk-modal h2 { 
    margin-top: 0; 
}

.tk-modal h3 { 
    margin-top:18px !important;
}

.tk-modal-form {

    margin:0 !important;
}

.tk-modal label { 
    font-weight: 600; 
    display:block; 
    margin-top: 10px; 
}

.tk-modal input {
    width: 100%;
    padding: 7px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 3px;
    padding: 5px 10px !important;
    font-family: inherit;
}

.tk-modal-grid {
    display: grid;
    grid-template-columns: 7fr 3fr; /* 70%-30% sin exceder contenedor */
    gap: 10px;
    align-items: end; /* Alinea inputs por la base */
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

.tk-modal-grid input {
    width: 100%;
    box-sizing: border-box; /* Asegura que padding/border no haga overflow */
}








.tk-modal-buttons {
    margin-top: 15px;
    padding: 0;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.tk-btn {
    display: inline-flex;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    line-height: 1;
    color: #fff;
}

.tk-btn-primary { 
    background: var(--azul2-100);
}

.tk-btn-primary:hover {
    background: var(--azul2-40);
}

.tk-btn-secondary { 
    background: var(--rojo-100); 
}

.tk-btn-secondary:hover {
    background: var(--rojo-40);
}


