.mc-mr-vr-texto-cancelacion {
    font-size: 16px;
    font-weight: 500;
    color: var(--azul1-100);
    line-height: 1.1;
}



@media screen and (max-width: 768px) {

    .mc-mr-vr-texto-cancelacion {
        font-size: 18px;
    }
    
}