.mc-mr-vr-nombre {
    font-size: 20px;
    font-weight: 600;
    color: var(--azul1-100);

}

.mc-mr-vr-ubicacion {
    font-size: 18px;
    font-weight: 500;
    color: var(--naranja1-100);
}

.mc-mr-vr-label {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--azul1-100);
    font-size: 18px;
}

.mc-mr-vr-label svg {
    height: 16px;
    width: 16px;
    fill: var(--azul1-100);
}

@media screen and (max-width: 768px) {

    .mc-mr-vr-nombre {
        font-size: 22px;
    }

    .mc-mr-vr-ubicacion,
    .mc-mr-vr-label {
        font-size: 20px;
    }

}