.mc-ma-da-contenedor {
    width: 100%;   
}

.mc-ma-da-titulo {
    background-color: var(--azul1-100);
    padding: 7px 15px;
    margin-bottom: 15px;
}

.mc-ma-da-titulo h2 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.mc-ma-da-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 0;
    
}

.mc-ma-da-grid-colder {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mc-ma-da-grid-colizq {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media screen and (max-width: 768px) {

    .mc-ma-da-contenedor {
        padding: 0 15px;
        background-color: #fff;
    }

    .mc-ma-da-grid {
        grid-template-columns: 1fr;
        gap: 0px;
    }

}