
.mc-solicitud-info{
    margin-bottom:15px;
    padding:10px;
    border-radius:10px;
    background-color: #fff;
}

.mc-solicitud-titulo{
    margin-bottom:10px !important;
    font-size: 18px;
}

.mc-ma-da-estado-cambio {
    display: inline-block;
    background-color: var(--azul1-100);
    color: #fff;    
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 10px !important;
}

.mc-cambios-modal-titulo {
    margin: 0 !important;
}

.mc-cerrar-modal-x { 
    position: absolute; 
    top: 10px; 
    right: 15px; 
    font-size: 22px; 
    cursor:pointer; 
    color: var(--azul1-100);
}

.mc-cerrar-modal-x:hover {
    color:var(--azul1-40);
}

.mc-ma-da-boton-seccion { 
    display:flex; 
}

.mc-cambios-boton { 
    display: inline-flex;
    align-items: center;
    justify-self: center;
    gap: 8px;
    background:var(--rojo-100); 
    color:#fff; 
    padding: 10px; 
    border-radius:5px; 
    border:none; 
    cursor:pointer;
    font-family: inherit;
    line-height: 1;
    font-weight: 500;
}

.mc-cambios-boton:hover { 
    background: var(--rojo-40); 
    color:#fff; 
}

.mc-cambios-boton svg { 
    width: 30px; 
    height: 30px; 
    fill: var(--amarillo-100);
}

.mc-cambios-texto { 
    font-size: 16px;
    text-align: left;
}







.mc-cambios-modal {
    display:none; 
    position:fixed; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background:rgba(0,0,0,0.4); 
    z-index:9999; 
    justify-content:center; 
    align-items:center; 
    padding:20px;
}

.mc-cambios-modal-titulo {
    font-size: 20px;
    margin-bottom: 15px !important;
}

.mc-cambios-modal form {
    margin: 0 !important;
}

.mc-cambios-modal-contenido{ 
    position:relative; 
    background:#fff; 
    padding:15px; 
    max-width:400px; 
    width:100%; 
    border-radius:10px; 
    text-align:left;
}

.mc-campo{ 
    margin-bottom:15px;
}


.mc-campo input, 
.mc-campo select, 
.mc-campo textarea{ 
    width:100%; 
    padding: 5px 10px; 
    border:1px solid #ccc; 
    border-radius:5px;
    font-family: inherit;
    margin-top: 5px;
}


