#mc-uc-avatar-editor {
    position: relative;
    margin: 0 auto;
    
}

#mc-uc-avatar-preview {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    border: 3px solid white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    aspect-ratio: 1/1;
}

.mc-uc-avatar-buttons {
    position: absolute;
    top: -10px;
    justify-content: right;
    justify-self: right;
    display: flex;
    gap: 3px;
    z-index: 10;
}

.mc-uc-avatar-buttons button {
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
    cursor: pointer;
    padding: 0px;
}

.mc-uc-avatar-buttons svg {
    width: 14px;
    height: 14px;
    fill: white;
}

#mc-uc-avatar-change-btn {
    background: var(--azul2-100);
}

#mc-uc-avatar-delete-btn {
    background: var(--rojo-100);
}

@media screen and (max-width: 768px) {

    #mc-uc-avatar-preview {
        width: 200px;
        height: 200px;
    }

    .mc-uc-avatar-buttons {
        top: -15px;
    }

   

    .mc-uc-avatar-buttons button {
        width: 50px;
        height: 50px;
    }

    .mc-uc-avatar-buttons svg {
        width: 18px;
        height: 18px;
    }
}
