.mc-ma-na-titular {
    background: var(--azul1-100);
    padding: 7px 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.mc-ma-na-titular h2 {
    color: #fff;
    font-size: 18px;
    margin: 0;			
}

.mc-ma-na-form-contenedor {
    padding: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
}

.mc-ma-na-grid-1col {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    column-gap: 15px;
}

.mc-ma-na-grid-2col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    column-gap: 15px;
}

.mc-ma-na-grid-2col-imagenes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}



@media (max-width: 768px) {

    .mc-ma-na-titular {
        font-size: 20px;			
    }

    .mc-ma-na-grid-2col,
    .mc-ma-na-grid-2col-imagenes  {
        grid-template-columns: 1fr;
    }

}